{
"users": [{ "name": "{{RABBIT_USER}}",
            "password_hash": "21rmGsWUXvNS8IlXSprqoIz1nZK8RBfKAbfLikYVTf9g76Ki",
            "hashing_algorithm": "rabbit_password_hashing_sha256",
            "tags": "administrator"
          }], 
"vhosts": [{"name":"/"}],
"permissions": [{ "user": "{{RABBIT_USER}}", 
                  "vhost": "/",
                  "configure": ".*",
                  "write": ".*",
                  "read": ".*"
                }],
"topic_permissions": [],
"parameters": [],
"policies": [{ "vhost": "/",
               "name": "ha-three",
               "pattern": "^",
               "apply-to": "all",
               "definition": { "expires": 259200000,
                               "ha-mode": "all",
                               "ha-sync-mode": "automatic",
                               "message-ttl": 259200000
                             },
                "priority": 0
              }]
}