{% if RABBIT_DISCOVERY == "classic_config" %} 
cluster_formation.peer_discovery_backend  = classic_config
{% elif RABBIT_DISCOVERY == "aws" %} 
cluster_formation.peer_discovery_backend  = aws
cluster_formation.aws.region = {{REGION}}
cluster_formation.aws.instance_tags.{{DISCOVERY_AWS_TAG_NAME}} = {{DISCOVERY_AWS_TAG_VALUE}}
{% endif %}
cluster_formation.node_cleanup.interval = 30
cluster_formation.node_cleanup.only_log_warning = true
cluster_partition_handling = autoheal
cluster_formation.node_cleanup.only_log_warning = false     
queue_master_locator=min-masters
loopback_users = none
vm_memory_high_watermark.relative = {{RABBIT_VM_MEMORY_HIGH_WATERMARK}}
total_memory_available_override_value = {{RABBIT_TOTAL_MEMORY_AVAILABLE}}
#management.load_definitions = /etc/rabbitmq/definitions.json